.container {
    border: 1px solid black;
    width: 30%;
    height: 300px;
    margin: 10px;
    background-color: #D9E4F9;
    padding-bottom: 30px;
}
  
.draggable {
    background-color: lightblue;
    border: 1px solid black;
    padding: 10px;
    cursor: move;
    text-align: center;
    width: 75%;
}

#AnswersBox{
    width: 40%;
    justify-self: center;
}

#bottomContainers{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
}

#title{
    text-align: center;
    width: 100%;
}

#AnswerContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

#GoogleAnswers{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

#MicrosoftAnswers{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

#AmazonAnswers{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}